.brandLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 140px;
  width: 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 640px) {
    max-width: 100px;
  }
}

.logoImage {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: 0.3s ease;
  // filter 0.3s ease,
  // opacity 0.3s ease;

  .brandLogo:hover & {
    filter: grayscale(0%);
    opacity: 1;
  }
}
