.filterButtons {
  display: flex;
  width: fit-content;
  gap: 16px;
  flex-wrap: wrap;
  border: 1px solid #e5eaf4;
  border-radius: 10px;
  padding: 20px 30px;
  box-sizing: border-box;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.04);
  background: var(--white);

  @media (max-width: 640px) {
    padding: 15px 20px;
    gap: 12px;
  }
}

.filterButton {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--black);
  cursor: pointer;
  font-weight: 400;
  background: transparent;
  border: none;
  padding: 0;
  text-align: left;
  transition: color 0.2s ease;

  &:hover {
    color: var(--accent);
  }

  &.active {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--black);
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}
