.sectionTitle {
  font-family: var(--font-family);
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-primary);

  @media (max-width: 860px) {
    font-size: 1.875rem;
  }

  @media (max-width: 640px) {
    font-size: 1.625rem;
  }
}

.swiperWrapper {
  position: relative;
  width: 100%;
}

.swiper {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 50px;
  border-radius: 9px;

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    transform: translateY(-50%);
    color: var(--accent);
    top: 50%;
    width: 20px;
    height: 20px;

    &::after {
      font-size: 10px;
      font-weight: bold;
    }
  }

  :global(.swiper-pagination) {
    bottom: 0;
  }

  :global(.swiper-pagination-bullet) {
    background: var(--accent);
    opacity: 0.5;

    &:global(.swiper-pagination-bullet-active) {
      opacity: 1;
    }
  }
}
