.sectionTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  font-family: var(--font-family);
  text-align: left;
  color: var(--black);

  @media (max-width: 860px) {
    font-size: 20px;
  }

  @media (max-width: 640px) {
    font-size: 18px;
  }
}



// .blogGrid {
//   display: grid;
//   grid-template-columns: 60% 1fr;
//   grid-auto-rows: minmax(200px, 245px);
//   gap: 24px;

//   @media (max-width: 860px) {
//     grid-auto-rows: 200px;
//     grid-template-columns: 1fr;
//     gap: 20px;
//   }

//   @media (max-width: 640px) {
//     gap: 16px;
//   }
// }

.blogGrid {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-auto-rows: minmax(200px, 245px);
  gap: 24px;

  @media (max-width: 860px) {
    grid-auto-rows: 200px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @media (max-width: 640px) {
    gap: 16px;
  }

  @media (max-width: 500px) {
    grid-auto-rows: 350px;
  }
}
